button[type="button"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: darkred;
  }
  